<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FakesList</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/main.js"></script>
    <link rel="icon" href="/static/ebay.png">

    <!-- update the version number as needed -->
    <!-- <script defer src="/__/firebase/7.2.0/firebase-app.js"></script> -->
    <!-- include only the Firebase features as you need -->
    <!-- <script defer src="/__/firebase/7.2.0/firebase-auth.js"></script>
    <script defer src="/__/firebase/7.2.0/firebase-database.js"></script>
    <script defer src="/__/firebase/7.2.0/firebase-messaging.js"></script>
    <script defer src="/__/firebase/7.2.0/firebase-storage.js"></script> -->
    <!-- initialize the SDK after all desired features are loaded -->
    <!-- <script defer src="/__/firebase/init.js"></script> -->
  </head>
  <body>
    <header>
      <h1>Welcome to FakesList!</h1>
    </header>
    <main>
      <div id="input-box">
        <h2>Enter your eBay URL:</h2>
        <form>
          <input id="url" type="text" name="URL" value="">
        </form>
        <button id="submit-button" type="button" name="submit">Submit</button>
      </div>
      <div id="results">
        <h2 id="message">Congrats!</h2>
        <p id="message2">This eBay listing is most likely not a scam!</p>
        <p id="message2">Scam-O-Meter</p>
        <div id="likelihood-base">
          <div id="likelihood"></div>
        </div>
        <!-- <button id="unsure">idk</button>
        <button id="scam">SCAM!</button> -->
        <h2 id="lol">Why?</h2>
        <div id="metrics">
          <div id="price">
            <p>This price on this listing was</p>
            <h2 id="relative">20%</h2> <p><b>lower</b ></p>
            <p>than the average.</p>
          </div>
          <div id="description">
            <p><b>Description:</b></p>
            <p>- contained poor grammar or strange punctuation</p>
            <p>- seller asked for personal information</p>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <p>&copy; 2019 King Kaichen</p>
    </footer>
  </body>
</html>
